<!--</div>-->
<!--</div>-->
<!--/.main-content -->


<!-- Footer -->
<footer class="site-footer">
    <div class="row">
        <div class="col-md-6">
            <p class="text-center text-md-left">Copyright © 2018 Nobita. All Rights Reserved.</p>
        </div>

        <div class="col-md-6">
            <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                <li class="nav-item">
                    <a class="nav-link" href="../help/articles.html">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../help/faq.html">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://themeforest.net/item/theadmin-responsive-bootstrap-4-admin-dashboard-webapp-template/20475359?license=regular&open_purchase_for_item_id=20475359&purchasable=source&ref=thethemeio">Purchase Now</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- END Footer -->


<!-- END Main container -->


<!-- Scripts -->
<script src="/theme/note/static/js/core.min.js"></script>
<script src="/theme/note/static/js/app.min.js"></script>
<script src="/theme/note/assets/js/script.js"></script>
<script src="/theme/note/assets/js/main.js"></script>
</body>
</html>
