<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?=@$title?></title>
    <link type="text/css" href="/theme/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/theme/admin/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="/theme/admin/css/theme.css" rel="stylesheet">
    <link type="text/css" href="/theme/admin/images/icons/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/admin/css/main.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="row">