<?php include VIEW_PATH.'template/header.html'; ?>
<?php include VIEW_PATH.'template/sidebar.html'; ?>
<div class="span9">
    <div class="content">

        <div class="module">
            <div class="module-head">
                <h3>生成共享外链</h3>
            </div>
            <div class="module-body">

                <form class="form-horizontal row-fluid">
                    <div class="control-group">
                        <label class="control-label" for="basicinput">Basic Input</label>
                        <div class="controls">
                            <input type="text" id="basicinput" placeholder="Type something here..." class="span8">
                            <span class="help-inline">Minimum 5 Characters</span>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Submit Form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



    </div><!--/.content-->
</div><!--/.span9-->
<?php include VIEW_PATH.'template/footer.html'; ?>