<?php include VIEW_PATH.'login/header.html'; ?>
<div class="row min-h-fullscreen center-vh p-20 m-0">
    <div class="col-12">
        <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
            <h5 class="text-uppercase">邮箱找回密码</h5>
            <br>
            <form class="form-type-material" action="/admin/login/forgetpassword" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email">
                    <label for="email">邮箱地址</label>
                </div>
                <br>
                <button class="btn btn-bold btn-block btn-primary" type="submit">重置</button>
            </form>
        </div>
    </div>
    <footer class="col-12 align-self-end text-center fs-13">
        <p class="mb-0"><small>Copyright © 2018 Nobita. All Rights Reserved.</small></p>
    </footer>
</div>
<?php include VIEW_PATH.'login/footer.html'; ?>