<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="login, signin">

    <title><?=@$title?></title>

    <!-- Styles -->
    <link href="/theme/note/static/css/core.min.css" rel="stylesheet">
    <link href="/theme/note/static/css/app.min.css" rel="stylesheet">
    <link href="/theme/note/static/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/theme/note/static/img/apple-touch-icon.png">
    <link rel="icon" href="/theme/note/static/img/favicon.png">
</head>
<body>